<div class="thumb">
  <div class="image" style="<%= "border: 8px solid #{image_html_color(thumb.author_name)}" %>">
    <span>
      <%= link_to image_tag(thumb.img.url(:thumb)),
        thumb.url(:medium),
        :rel => "colorbox" %>
    </span>
  </div>
  <div class="image-tag">
    <p><%= thumb.owner %>, <%= thumb.created_at.asctime%></p>
  </div>
  
</div>
